.home .content {
    display: flex;
}

.home .appointments .appointment-list {
    height: 200px;
    border-radius: 15px;
    box-shadow: none;
}

.home .appointments .appointments-title {
    margin-bottom: 2rem;
}