.file-upload {
    text-align: center;
    border: 3px dashed rgb(210, 227, 244);
    padding: 1.5rem;
    position: relative;
    cursor: pointer;
    height: 50%;
    width: 70%;
}

.file-upload p {
    font-size: 0.87rem;
    margin-top: 10px;
    color: #bbcada;
}

.file-upload input {
    display: block;
    height: 50%;
    width: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}