.register-content {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    border-radius: 15px;
    box-shadow: 4px 4px 30px 0px var(--Drop-Shadow, #CBD2E0);
}

.register::-webkit-scrollbar {
    display: none;
}

.register .content {
    scrollbar-width: none;
}

.register-button {
    text-decoration: none;
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    height: fit-content;
    width: fit-content;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: 3px solid transparent;
    color: var(--black);
    background: var(--gradient-full) padding-box, var(--gradient-full) border-box;
}

.register-date {
    display: flex;
    gap: 10px;
    align-items: center;
    align-self: flex-start;
}