.navbar {
    height: 100vh;
    width: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: var(--gradient-trans);
}

.navbar .header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    padding: 0 20px;
}

.navbar .logo {
    width: 110px;
    height: 70px;
}

.navbar .content {
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: 8vh;
    justify-content: flex-start;
}

.navbar .notLogged {
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 8vh;
  justify-content: center;
}

.navbar .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px 0;
}
