.card-list {
    padding: 50px 50px;
    height: 80vh;
    overflow: scroll;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.card-list .card {
    margin-bottom: 30px;
}
