.appointment-list .list {
    padding: 50px 50px;
    height: 80vh;
    overflow: scroll;
}

.appointment-list .list::-webkit-scrollbar {
    display: none;
}

.appointment-list .list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.appointment-list .list .card {
    margin: 30px 0;
}
