.profile-edit .header {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
}

.profile-edit .content {
    display: flex;
    gap: 50px;
    padding: 0 30px;
    width: 100%;
}

.profile-edit .content .profile-edit-text {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 10px;
}

.profile-edit .content .grid {
    display: flex;
    gap: 50px;
}

.profile-edit .content .col {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-edit .extra {
    display: flex;
    flex-direction: column;
    height: stretch;
}

.profile-edit .doc-header {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.profile-edit .doc-header h1 {
    font-size: 20px;
}

.profile-edit .doc-header a {
    color: var(--dark-gray);
    font-size: 14px;
}

.profile-edit .calendar {
    height: calc(100% - 40px);
    width: 300px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 4px 4px 30px var(--shadow);
}