.overview .bignumbers {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.overview .appointments {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: stretch;
    width: 100%;
    padding: 20px 0;
    border-radius: 15px;
    box-sizing: border-box;
}

.ovreview .appointments h1 {
    font-size: 24px;
}

.overview .appointments .appointment-list {
    height: 320px;
    box-shadow: none;
}
