.home {
    display: grid;
    grid-template-rows: 1fr 1fr;
    /* Divide a página em duas linhas de altura igual */
    gap: 20px;
    /* Espaçamento entre as linhas */
}

.first-row {
    display: flex;
    justify-content: center;
    /* Centraliza o card na linha */
}

.second-row {
    display: flex;
    justify-content: space-between;
}

.second-row .but {
    margin: 1.6rem;
}