
.payment-list .list {
    padding: 50px 50px;
    height: 80vh;
    overflow: scroll;
}

.payment-list .list::-webkit-scrollbar {
    display: none;
}

.payment-list .list {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.payment-list .list .card {
    margin: 30px 0;
}

.payment-list .payment {
    display: flex;
    flex-direction: column;
    height: calc(100% - 80px);
    width: 100%;
    padding: 20px 0;
    border-radius: 15px;
    box-sizing: border-box;
    gap: 0;
}

